.title {
  color: black;
  font-weight: bold;
}

.desc {
  color: black;
}

.list-wrapper {
    display: flex;
    column-count: 2;
    margin: 10px;
    justify-content: space-between;
}

.body {
    display: flex;
    column-count: 2;
}

.body-rate {
  display: flex;
  /* align-items: center; */
}

.star {
  color: #ff9933;
  cursor: pointer;
}

